doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/4.0.0-alpha/css/bootstrap.css') 
    link(rel="stylesheet" href='https://unpkg.com/element-ui/lib/theme-default/index.css')
  body
    block content
    block scripts
      script(language="JavaScript", src="https://code.jquery.com/jquery-3.2.1.js",
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=",
      crossorigin="anonymous")
      script(language="JavaScript", type="text/javascript", src='/javascripts/optionLink.js')
      script(src="https://unpkg.com/vue/dist/vue.js")
      script(src="https://unpkg.com/element-ui@1.3.7/lib/index.js")
      script(language="JavaScript", type="text/javascript", src='/javascripts/react.js')
    
    
